<div
  class="w-screen h-screen overflow-hidden relative before:block before:absolute before:bg-black before:h-full before:w-full before:top-0 before:left-0 before:z-10 before:opacity-30"
>
  <img
    src="assets/logo.png"
    class="absolute top-0 left-0 min-h-full ob"
    alt=""
  />
  <div
    class="relative z-20 max-w-screen-lg mx-auto grid grid-cols-12 h-full items-center"
  >
    <div class="col-span-6 col-start-3">
      <span class="uppercase text-white text-xs font-bold mb-2 block"
        >PETS S.A</span
      >
      <h1 class="text-white font-extrabold text-5xl mb-8">
        Centro Veterinario
      </h1>
      <p class="text-stone-100 text-base">
        En nuestro centro veterinario, nos dedicamos a brindar atención integral
        a tus mascotas. Contamos con un equipo de profesionales altamente
        calificados y apasionados por el cuidado animal. Desde consultas de
        rutina hasta cirugías especializadas, estamos comprometidos a
        proporcionar el más alto nivel de cuidado y atención a cada paciente
        peludo que ingresa por nuestras puertas. Tu confianza es nuestra
        prioridad, y trabajamos incansablemente para garantizar la salud y el
        bienestar de tus compañeros de cuatro patas en cada visita
      </p>
    </div>
  </div>
</div>
